<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression1">
  <test thread-count="5" name="Test1">
    <classes>
    <class name="com.trackive_next_test.ResetPwd_Test"/>
    <class name="com.trackive_next_test.ResetPwdLink_Test"/>
    <class name="com.trackive_next_test.ForgetPwd_Test"/> 
    </classes>
  </test> <!-- Test1 -->
</suite> <!-- Regression1 -->
